/*/*/** {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}
nav {
	
	margin-bottom: 7.5rem;
	border-bottom: 1px solid gray;
	position: fixed;
	background-color: white;
	top: 0;
	width: 100%;
}


nav > ul  > li {
	list-style-type: none;
	display: inline;
}


nav .nav, nav .nav-logo {
	float: left;
  	display: block;
	margin: 0.8rem;
	font-weight: bold;
	position: sticky;
	background-color: white;
	}

.right-nav {
	float: right;
  	display: block;
	margin: 0.8rem;
	font-weight: bold;
	position: sticky;
	background-color: white;
	font-size: 22px;
	
}

.tuitt-button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding-bottom:  1rem;
	padding-top: 1rem;
	border-radius: 25px;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	padding-bottom: 100px;
	padding-top: 50px;
	margin-top: 100px;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: scroll;
	
}

.title {
	font-family: 'Zilla Slab', serif;
	font-size: 50px;
	margin-left: 65%;
	margin-right: 5%;
}

.subtitle {
	margin-left: 70%;
	margin-right: 5%;
}

.apply-button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
	padding:  1rem;
	border-radius: 25px;
	margin-right: 5%;
	margin-top: 20px;
}

.container {
	text-align: right;
	color: white;
	width: 100%;

}

.title-2 {
	font-family: 'Zilla Slab', serif;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 40px;

}

.subtitle {
	font-weight: 1;
}

.intro-description {
	justify-content: center;
	padding-left: 300px;
	padding-right: 300px;
	padding-top: 50px;
	padding-bottom: 100px;
	font-size: 20px;

}

.pre-footer {
	text-align: center;
	background-color: #f7fbfb;
	padding-top: 50px;
	padding-bottom: 50px;
}

.prefooter-description {
	padding-left: 300px;
	padding-right: 300px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
}


.book-button {
	background-color: #336589;
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 25px;
	border-radius: 28px;
	padding:  12px;
	margin-top: 50px;

}

footer {
	text-align: center;
}


